<div class="dashboard-container">
    <h2 class="dashboard-title">Real-Time Patient Tracking</h2>

    <div class="patient-grid">
        <div class="patient-card" *ngFor="let patient of patients" [ngClass]="patient.status.toLowerCase()">
            <div class="card-header">
                <h3 class="patient-name">{{ patient.name }}</h3>
                <span class="patient-status">{{ patient.status }}</span>
            </div>

            <div class="card-body">
                <p><strong>Last Updated:</strong> {{patient.lastUpdated | date:'MM/dd/yyyy h:mma' | lowercase}}</p>
                <p><strong>Location:</strong> {{patient.latitude}}, {{patient.longitude}}</p>
            </div>
        </div>
    </div>
</div>
